<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD! 😛</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- 부서 추가 팝업 -->
      <div class="write-popup">
        <div class="editor">
          <div class="input-box">
            <label>과정 번호 : </label>
            <input type="number" id="insertClassNum" placeholder="과정번호를 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 명 : </label>
            <input type="text" id="insertClassName" placeholder="과정명을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 호실 : </label>
            <input type="text" id="insertClassRoom" placeholder="과정호실을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 기간 : </label>
            <input type="date" id="insertStartDate" value="2022-08-01" placeholder="과정 시작 날짜입력..." />
            <input type="date" id="insertEndDate" value="2023-02-06" placeholder="과정 종료 날짜입력..." />
          </div>
          <div class="input-box">
            <label>담당 교사 : </label>
            <input type="text" id="insertTeacher" placeholder="교사이름 입력하세요..." />
          </div>
          <div class="btn-area">
            <a href="#" class="btn-cancel" onclick="">취소</a>
            <a href="#" class="btn-success" onclick="insertDept()">등록</a>
          </div>
        </div>
      </div>
      <!-- 부서 수정 -->
      <div class="update-popup">
        <div class="editor">
          <div class="close">
            <a href="#" class="btn-close">닫기</a>
          </div>
          <div class="input-box">
            <label>과정 번호 : </label>
            <input type="number" value="9983" id="delUpdClassNum" placeholder="과정번호를 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 명 : </label>
            <input type="text" value="웹개발자 양성과정" id="delUpdClassName" placeholder="과정명을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 호실 : </label>
            <input type="text" value="501호" id="delUpdClassroom" placeholder="과정호실을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 기간 : </label>
            <input type="date" value="2022-08-02" id="delUpdStartDate" placeholder="과정 시작 날짜입력..." />
            <input type="date" value="2023-02-06" id="delUpdEndDate" placeholder="과정 종료 날짜입력..." />
          </div>
          <div class="input-box">
            <label>담당 교사 : </label>
            <input type="text" value="현상원 명예교수" id="delUpdTeacher" placeholder="교사이름 입력하세요..." />
          </div>
          <div class="btn-area">
            <a href="#" class="btn-update" onclick="updateDept()">수정</a>
            <a href="#" class="btn-delete" onclick="deleteDept()">삭제</a>
          </div>
        </div>
      </div>
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
              <span class="title">DW ADMIN</span>
            </a>
          </li>
          <li>
            <a href="./index.html">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <span class="title">학생 목록</span>
            </a>
          </li>
          <li>
            <a href="./dept.html">
              <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
              <span class="title">과정 목록</span>
            </a>
          </li>
          <!-- <li>
            <a href="#">
              <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
              <span class="title">Sign Out</span>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- main -->
    <div class="main">
      <!-- table -->
      <div class="details">
        <div class="recentOrders">
          <div class="cardHeader">
            <h2>과정 목록</h2>
            <a href="#" onclick="addSubject()" class="btn">과정 추가</a>
          </div>
          <table>
            <thead>
              <tr>
                <th>과정 번호</th>
                <th>과정 이름</th>
                <th>과정 호실</th>
                <th>과정 기간</th>
                <th>담당 교사</th>
              </tr>
            </thead>
            <tbody id="data">
              <tr onclick="getSubject()">
                <td>18990</td>
                <td>주짓수 개발자 양성 과정</td>
                <td>501호</td>
                <td>22.06.15 ~ 22.12.22</td>
                <td>이정수</td>
              </tr>
              <tr onclick="getSubject()">
                <td>18330</td>
                <td>React.js 개발자 양성 과정</td>
                <td>502호</td>
                <td>22.12.07 ~ 23.05.01</td>
                <td>이예진</td>
              </tr>
            </tbody>
          </table>
          <!-- 페이징 처리하는 HTML -->
          <div class="pagination">
            <a>Previous</a>
            <a>1</a>
            <a>2</a>
            <a>3</a>
            <a>4</a>
            <a>5</a>
            <a>Next</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Icon CDN -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <!-- Jquery CDN -->
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script>
    $('.btn-cancel').click(function () {
      $('.write-popup').css('display', 'none');
    });
    $('.btn-close').click(function () {
      $('.update-popup').css('display', 'none');
    });
    let list = document.querySelectorAll('.navigation li');
    function activeLink() {
      list.forEach((item) => {
        item.classList.remove('hovered');
      });
      this.classList.add('hovered');
    }
    list.forEach((item) => {
      item.addEventListener('mouseover', activeLink);
    });

    function getSubject(class_num) {
      $('.update-popup').css('display', 'block');
      
      
      var classNum = $('#delUpdClassNum').val();
      var className = $('#delUpdClassName').val();
      var classRoom = $('#delUpdClassroom').val();
      var startDat = $('#delUpdStartDate').val();
      var endDate = $('#delUpdEndDate').val();
      var teacher = $('#delUpdTeacher').val();
      
     
  	$.ajax({
		url : '/api/v1/deptdw/'+class_num,
		type : 'GET',
		dataType : 'json',
		success : function(response) {
			// console.log(response);
			$('#delUpdClassNum').val(response.class_num);
			$('#delUpdClassName').val(response.class_name);
			$('#delUpdClassroom').val(response.classroom);
			$('#delUpdStartDate').val(response.start_dat);
			$('#delUpdEndDate').val(response.end_date);
			$('#delUpdTeacher').val(response.teacher);
		}
	}); 
}
    

    function addSubject() {
      $('.write-popup').css('display', 'block');
    }
    
    callApi();
    function callApi() { 
      $.ajax({
        url: '/api/v1/deptdw',
        type: 'GET',
        dataType: 'json',
        success: function (response) {
         // console.log(response);
          var html = '';
          	for (var i = 0; i < response.length; i++) {
            	  html += '<tr onclick="getSubject('+response[i].class_num+')" ><td>' + response[i].class_num + '</td><td>' +response[i].class_name +'</td><td>' +
          					response[i].classroom +'</td><td>' +response[i].start_dat+"~"+ response[i].end_date+'</td><td>' +
       						response[i].teacher +'</td></tr>'; 
       						}
        		 $('#data').append(html);
        },
      }); 
    }
    // 추가
    function insertDept() { 
      var classNum = $('#insertClassNum').val();
      var className = $('#insertClassName').val();
      var classRoom = $('#insertClassRoom').val();
      var startDat = $('#insertStartDate').val();
      var endDate = $('#insertEndDate').val();
      var teacher = $('#insertTeacher').val();

      var jsonData = {
        "class_num": classNum,
        "class_name": className,
        "classroom": classRoom,
        "start_dat": startDat,
        "end_date": endDate,
        "teacher": teacher
      };

      $.ajax({
        url: '/api/v1/deptdw/join',
        type: 'POST',
        contentType: 'application/json', // 서버에 json 타입으로 보낼 예정(요청)
        data: JSON.stringify(jsonData),
        dataType: 'json',
        success: function (response) {
           //console.log(response)
          alert('추가 완료');
          location.reload(); // 새로고침
        },
      });
    }
    // 수정
    function updateDept() {
      var classNum = $('#delUpdClassNum').val();
      var className = $('#delUpdClassName').val();
      var classRoom = $('#delUpdClassroom').val();
      var startDat = $('#delUpdStartDate').val();
      var endDate = $('#delUpdEndDate').val();
      var teacher = $('#delUpdTeacher').val();

      var jsonData = {
    	        "class_num": classNum,
    	        "class_name": className,
    	        "classroom": classRoom,
    	        "start_dat": startDat,
    	        "end_date": endDate,
    	        "teacher": teacher
    	      };

      $.ajax({
        url: '/api/v1/deptdw',
        type: 'PATCH',
        contentType: 'application/json', // 서버에 json 타입으로 보낼 예정(요청)
        data: JSON.stringify(jsonData),
        dataType: 'json',
        success: function (response) {
           // console.log(response)
          alert('수정 완료');
          location.reload(); // 새로고침
        },
      });
    }
    
    
    // 삭제
    function deleteDept() {
      var classNum = $('#delUpdClassNum').val();
  

      $.ajax({
        url: '/api/v1/deptdw/' + classNum,
        type: 'DELETE',
        dataType: 'json',
        success: function (response) {
          // console.log(response);
           alert('삭제 완료');
           location.reload(); // 새로고침
        },
      });
    }
    
  </script>
</html>
